# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

or 
Dictionaries are used to store data values in key:value pairs.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'Bappy' , 'age' : 22 , 'gender' : 'male' }

### Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

-150

In [2]:
d ={"brand": "Ford", "model": "Mustang", "year": "1994"}
print(d)

{'brand': 'Ford', 'model': 'Mustang', 'year': '1994'}

# Create Dictionary

In [3]:
# empty dictionary
d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [5]:
# 1D dictionary 
d1 = {"name": "Jubayer", "age":22, "Gender": "male"}
print(d1)

{'name': 'Jubayer', 'age': 22, 'Gender': 'male'}

In [6]:
# with mixed keys
d1 ={"name": "Jubayer", "age": 33, "Gender": "male"}

In [8]:
# with mixed keys
d2 ={(1,2,3):33, "name":"Jubayer"}
print(d2)

{(1, 2, 3): 33, 'name': 'Jubayer'}

In [9]:
# with mixed keys - list
d2 = {[1,2,3]:33, "name":"jubayer"}

TypeError: unhashable type: 'list'

In [12]:
# 2d Dictionary 
d3 ={
    "name": "Jubayer",
    "Collage_name": "Abc",
    "Semester": 3,
    "Subject": {"DSA": 80, "math": 50, "English": 70}
}
print(d3)

{'name': 'Jubayer', 'Collage_name': 'Abc', 'Semester': 3, 'Subject': {'DSA': 80, 'math': 50, 'English': 70}}

In [13]:
#using sequence and dict function
d4 = dict([("name","Jubayer"),("age",22)])
print(d4)

{'name': 'Jubayer', 'age': 22}

In [15]:
# duplicate keys
d5 = {"name":"Jubayer", "name": "Hussain", "age":22, "Gender": "Male"}
print(d5)

{'name': 'Hussain', 'age': 22, 'Gender': 'Male'}

In [16]:
# Multable items as keys
d6 ={[1,2,3]:33, "name": "jubayer"}
print(d6)

TypeError: unhashable type: 'list'

# Accessing items:

In [17]:
d1 = {"name":"jubayer", "age":22, "Gender":"male"}
#not follow indexing
d1[0]

KeyError: 0

In [18]:
d1 = {"name":"jubayer", "age":22, "Gender":"male"}
d1["name"]

'jubayer'

In [19]:
d1["age"]

22

In [21]:
d1["Gender"]

'male'

In [22]:
d3 ={ "name": "Jubayer", "college_Name": "ABC", "Semester":5, "Subject":{"DSA": 80, "Math":50, "Englsih":70}}

In [ ]:
d3["Subject"] # want to see all subject

{'DSA': 80, 'Math': 50, 'Englsih': 70}

In [24]:
# want to see specific subject 

d3["Subject"]["Math"]

50

In [25]:
# want to see specific key
d3["college_Name"]

'ABC'

# Adding key - value pari

In [26]:
d1 = { "name": "Jubayer", "age":22, "gender":"male"}
print(d1)

{'name': 'Jubayer', 'age': 22, 'gender': 'male'}

In [27]:
# adding key and value
d1["weight"] = 80

In [ ]:
print(d1) # value is added

{'name': 'Jubayer', 'age': 22, 'gender': 'male', 'weight': 80}

In [34]:
# value added to d array
d3 ={ "name": "Jubayer", "college_Name": "ABC", "Semester":5, "Subject":{"DSA": 80, "Math":50, "Englsih":70}}

In [ ]:
d3["Subject"]["python"] = 90
print(d3) # python is added

{'name': 'Jubayer', 'college_Name': 'ABC', 'Semester': 5, 'Subject': {'DSA': 80, 'Math': 50, 'Englsih': 70, 'python': 90}}

# Editing key -value pair

In [53]:
d ={ "name": "jubayer", "age": 33, "gender":"Male"}
print(d)
# name editing 
d["name"] = "Juabye Hussain"
print(d)

{'name': 'jubayer', 'age': 33, 'gender': 'Male'}
{'name': 'Juabye Hussain', 'age': 33, 'gender': 'Male'}

# Removing key - value pair

In [54]:
# pop  - The pop() method removes the item with the specified key name:

d.pop("age")

33

In [55]:
# after removing the specified --  key 
print(d)

{'name': 'Juabye Hussain', 'gender': 'Male'}

# The popitem() method removes the last inserted item

In [56]:
# The popitem() method removes the last inserted item
d.popitem()

('gender', 'Male')

In [ ]:
print(d) # key- gender is deleted

{'name': 'Juabye Hussain'}

# The del keyword removes the item with the specified key name:

In [58]:
d ={ "name": "jubayer", "age": 33, "gender":"Male"}

In [59]:
del d["gender"]

In [61]:
print(d) # in here gender - key is deleted

{'name': 'jubayer', 'age': 33}

# The clear() method empties the dictionary:

In [ ]:
d ={ "name": "jubayer", "age": 33, "gender":"Male"}
d.clear() # clear the dictionary:

In [ ]:
print(d) # Dictionary is cleared

{}

# Loop through a Dictionary
## you can loop through a dictionary by using a -- for -- loop
 - when looping through a dictionary, the return value are the keys of the dictionary, but there are methonds toreturn the values as well.

In [67]:
d ={ "name": "jubayer", "age": 33, "gender":"Male"}

for x in d:  # Print all key names in the dictionary , one by one:
    
    print(x)

name
age
gender

In [69]:
# Print all ---values--- in the dictionary , one by one:
for x in d:
    print(d[x])

jubayer
33
Male

In [ ]:
# you can also use the  - values() method to return values of a dictionary

for x in d.values():  # values(). return all values inside dict
        print(x)

jubayer
33
Male

In [72]:
# You can use the keys () method tor return the keys of a dictionary:
# keys()-- return all keys 

for x in d.keys():
    print(x)

name
age
gender

In [73]:
# Loop through both keys and values , by using the -- items()-- 
for x,y in d.items():
    print(x,y)

name jubayer
age 33
gender Male