# Accessing items
# Adding key -value pair
# Editing key - value pair (only editing value , key can't edit)
# Remove key -value pair

- No-41

In [1]:
d1 = {"name" : "Jubayer", "age" : 43, "gender": "male"}

In [ ]:
d1["name"] # dictionary is not support indexing . need use key

'Jubayer'

In [3]:
d1["age"]

43

In [4]:
d1["gender"]

'male'

## How can access d2 element

In [11]:
d3 = {
    "name": "jubayer",
    "collage" : "ABC",
    "Semester" : 5,
    "Subject" : {"math": 50, "englsih": 45, "phy": 60},
    "name" : "Hussain"
}
d3["Subject"]

{'math': 50, 'englsih': 45, 'phy': 60}

In [ ]:
d3["Subject"]["phy"] # specific subject it will print specific subject

60

In [14]:
d3['Subject']["englsih"]

45

In [ ]:
# Adding key -value pair
d1 = {"name" : "Jubayer", "age" : 43, "gender": "male"}
d1["lastName"] = "Hussain"
print(d1) # last name is added your d1 list

{'name': 'Jubayer', 'age': 43, 'gender': 'male', 'lastName': 'Hussain'}

In [ ]:
# Adding 2d dictionary
d3 = {
    "name": "jubayer",
    "collage" : "ABC",
    "Semester" : 5,
    "Subject" : {"math": 50, "englsih": 45, "phy": 60},
    "name" : "Hussain"
}
d3["Subject"]["com"] = 90
print(d3) # at the end is added com = 90

{'name': 'Hussain', 'collage': 'ABC', 'Semester': 5, 'Subject': {'math': 50, 'englsih': 45, 'phy': 60, 'com': 90}}

# Editing key value pair

In [ ]:
# Adding key -value pair
d1 = {"name" : "Jubayer", "age" : 43, "gender": "male"}
d1["lastName"] = "Hussain"
print(d1) # last name is added your d1 list 

d1["name"] ="Jubayer Hussain"
print(d1) # last one is editing the name of jubayer hussain . but when you try to editing the key modify , it will through error.

{'name': 'Jubayer', 'age': 43, 'gender': 'male', 'lastName': 'Hussain'}
{'name': 'Jubayer Hussain', 'age': 43, 'gender': 'male', 'lastName': 'Hussain'}

# Remove key -value pair

In [ ]:

# pop() pop alway take input . input means it will key name | sepcific item
d1 = {"name" : "Jubayer", "age" : 43, "gender": "male"}
print(d1)
d1.pop("age")
print (d1)

{'name': 'Jubayer', 'age': 43, 'gender': 'male'}
{'name': 'Jubayer', 'gender': 'male'}

In [ ]:
# popitem() it will remove the last one 
d1 = {"name" : "Jubayer", "age" : 43, "gender": "male"}
print(d1)
d1.popitem()# gender key will remove
print(d1)

{'name': 'Jubayer', 'age': 43, 'gender': 'male'}
{'name': 'Jubayer', 'age': 43}

In [ ]:
# del 
d1 = {"name" : "Jubayer", "age" : 43, "gender": "male"}
print(d1)
del d1["name"] # name is deleted 
print(d1)

{'name': 'Jubayer', 'age': 43, 'gender': 'male'}
{'age': 43, 'gender': 'male'}

In [ ]:
# clear is clear everything on the dictionary

d1 = {"name" : "Jubayer", "age" : 43, "gender": "male"}
print(d1)

d1.clear()
print(d1) # return empty dictionary

{'name': 'Jubayer', 'age': 43, 'gender': 'male'}
{}